
$color-main: #ff5f9b;
$color-main-hvr: #f54c8f;

$color-main2: #191c20;
$color-main-hvr2: #20242a;

$bg-menu: #f882b2;
$font-color: #4d5762;
$text-color: #7b7b7b;
$arrow-hvr: #c2c2c2;



$font-title-form: 14px 'PT Sans', sans-serif;

$font-title-form-info:  bold 18px 'PT Sans', sans-serif;

$cubic-bezier: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  