@import 'variables';

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proregular';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_prolight';
    src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'source_sans_proextralight';
    src: url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'source_sans_probold';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/font/Flaticon.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
    // z-index: 0;
    // background: #ff5f9b;
    // padding: 0px 0px 500px 0px!important;

    & * {
        box-sizing: border-box;
    }
}
.video {
    width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
.main {
    // padding: 0 100px;
}
.features,
.info,
.number,
.prices,
.price,
.screenshots,
.screen,
.blog1 {
    background-color: #fff;
}
.colored {
    color: $color-main;
}
// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
//   }
.main {
    // max-width: 1800px;
    margin: 0 auto;
}
.container {
    padding: 0;
    margin: 0 auto;
    background: url('../img/top-img.jpg') no-repeat;
    background-attachment: fixed;
    // background-size: 100%;
    overflow: hidden;
    

    @media screen and (min-width: 768px) {
        // padding: 30px 50px 0;  
    }
    @media screen and (min-width: 1200px) {
        // padding: 50px 30px 0;
        background-size: 100%;
    }
}
.header-mob {
    background-color: #000;
    width: 100%;
    height: 61px;
    position: fixed;
    z-index: 100;
    -webkit-transform: translateZ(0);

    @media only screen and (min-width: 1023px) {
        display: none;
    }
    .logo-mob {
        position: fixed;
        top: 5px;
        left: 20px;
    
        @media only screen and (min-width: 1023px) {
            display: none;
        }
    }
}
.menu {
    -webkit-transform: translateZ(0);

    &-link {
        display: block;
        width: 50px;
        height: 50px;
        // background-color: #fff;
        border: 1px solid #fff;
        border-radius: 20%;
        // box-shadow: 1px 1px 10px rgba(0,0,0,.4);
        position: fixed;
        top: 5px;
        right: 20px;
        z-index: 9;

        @media only screen and (min-width: 1023px) {
            display: none;
        }
        span,
        span:before,
        span:after {
            display: block;
            width: 18px;
            height: 2px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -1px;
            margin-left: -9px;
            background-color: #fff;
        }
        span:before {
            content: '';
            margin-top: -6px;
            transition: all 0.2s;
        }
        span:after {
            content: '';
            margin-top: 4px;
            transition: all 0.2s;
        }
        &_active span {
            background-color: transparent;
            &:before {
                transform: rotate(135deg);
                margin-top: 0;
            }
            &:after {
                transform: rotate(-135deg);
                margin-top: 0;
            }
        }
    }
    background-color: $bg-menu;
    opacity: 0.95;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -100vw;
    transition: all 0.8s;

    @media only screen and (min-width: 1023px) {
        flex-flow: row nowrap;
        justify-content: space-around;
        right: 0;
        height: 100px;
        background-color: transparent;
	    position: relative;
    }
    &_active {
        right: 0;
    }
    
    ul {
        list-style: none;
        padding: 65px 0 0 0;
        text-align: center;
        width: 100vw;

        @media only screen and (min-width: 1023px) {
            width: 78%;
            display: flex;
            justify-content: space-around;
            padding: 0;
        }
        @media only screen and (min-width: 1900px) {
            width: 40%;
        }
        a.link {
            display: block;
            width: 100%;
            color: #fff;
            line-height: 3;
            font-weight: 100;
            font-size: 20px;
            // padding: 0 2px;
            text-transform: uppercase;
            transition: all 0.2s;

            @media only screen and (min-width: 600px) {
                line-height: 3;
                  
            }
            @media only screen and (min-width: 1023px) {
                font-family: 'source_sans_probold';
                font-size: 16px;
                display: inline-block;
                padding: 20px 5px;
                color: #fff;
                line-height: 2; 
            }
            img {
                vertical-align: middle;
                @media only screen and (max-width: 1023px) {
                    display: none;
                }
            }
            &:hover {
                color: $color-main;
                @media only screen and (max-width: 1023px) {
                    color: $font-color;
                }
            }
            &:after {
                @media only screen and (min-width: 1023px) {
                    display: block;
                    content: "";
                    height: 5px;
                    width: 0%;
                    background-color: $color-main;
                    transition: width .3s ease-in-out;
                }
            }
            &:hover:after {
                width: 100%;
            }
            // &:focus:after {
            //     width: 100%;
            // }
        }
        a.link.current {
            color: $font-color;
            
            @media only screen and (min-width: 1023px) {
                color: $color-main;
                &:after {
                        display: block;
                        content: "";
                        height: 5px;
                        width: 0%;
                        background-color: $color-main;
                        transition: width .3s ease-in-out;
                    
                }
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }   
}

.fixed {
    -webkit-transform: translateZ(0);
    @media only screen and (min-width: 1023px) {
        position: fixed;
	    top: 0;
        width: 100%;
        height: 50px;
        background: rgb(29, 33, 37);
        color: #fff;
        transition: 1s;
        ul {
            margin-top: 35px;

            a.link {
                color: #fff;
                font-size: 12px;
                padding-top: 5px;
                line-height: 3;
            }
        }   
    } 
    .logo-fix {
        display: none;
        @media only screen and (min-width: 1023px) {
            display: inline-block;
            font-size: 14px;
            img {
                width: 66%;
            } 
        }
    } 
}
.logo-fix {
    display: none;
    @media only screen and (min-width: 1023px) {
        display: inline-block;
    }
}
.home {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    padding: 90px 20px 0;
    height: 890px;
    overflow: hidden;

    @media only screen and (min-width: 768px) {
        height: 1024px;
        padding: 90px 20px 0;  
    }

    @media only screen and (min-width: 1024px) {
        flex-flow: row nowrap;
        justify-content: space-around; 
        padding: 90px 30px 0;
        height: 842px;  
    }
    @media only screen and (min-width: 1200px) {
        // flex-flow: row nowrap;
        // justify-content: space-around; 
        padding: 50px 30px 0;
        // height: 100vh;  
    }
    @media only screen and (min-width: 2500px) {
        padding: 50px 700px 0;  
    }
    
    &__text {
        text-align: center;
    
        img {
            width: 70%;
            max-width: 385px;
            @media only screen and (min-width: 1024px) { 
                max-width: 600px;
            }
        }
        @media only screen and (min-width: 1024px) { 
            margin-left: 10%;
            text-align: left;
        }
        &-p {
            // max-width: 300px;
            font: 17px 'source_sans_prolight', Arial, Helvetica, sans-serif;
            opacity: 0.9;
            padding-right: 10px;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: center;
            max-width: 480px;
            margin: 15px auto;

            @media only screen and (min-width: 768px) {
                font-size: 24px;
                padding-bottom: 15px;
                max-width: 600px;
            }
            @media only screen and (min-width: 1024px) {
                font-size: 26px;
                text-align: left;
                padding-bottom: 60px;
            }
        }
        .btn {
            font: 600 18px 'source_sans_proregular', Arial, Helvetica, sans-serif;
            width: 200px;
            height: 60px;
            border: 1px solid white;
            border-radius: 10px;
            background:rgba(255, 255, 255, 0);
            color: white;
            outline: none;
            // text-transform: uppercase;
            margin: 20px auto;
            cursor: pointer;

            @media only screen and (min-width: 1024px) {
                // margin: 20px 0;
            }

            &__home {
                background-color: #000;
                margin: 5px auto;
                position: relative;
                font-size: 14px;
                padding-left: 40px;

                span {
                    font-size: 25px;
                }

                &:before {
                    font-family: 'FontAwesome';
                    content: '\f179';
                    display: inline-block;
                    position: absolute;
                    top: 14px;
                    left: 20px;
                    font-size: 30px;
                }
                &-android {
                    &:before {
                        font-family: 'FontAwesome';
                        content: '\f0da';
                        display: inline-block;
                        position: absolute;
                        top: 6px;
                        left: 25px;
                        font-size: 46px;
                    }
                    @media only screen and (min-width: 1200px) {
                        margin-left: 50px;
                    }
                }
            }
            &:hover {
                background:white;
                color: $color-main-hvr;
                border: 1px solid white;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    &__img {
        
        img {
            width: 135%;
            margin-left: -19%;
        }
        @media only screen and (min-width: 479px) {
            img {
                width: 100%;
                // max-width: 500px;
                margin: 0;
            }
        }
        @media only screen and (min-width: 768px) {
            img {
                width: 85%;
                margin-left: 7%;
            }
        }
        // @media only screen and (min-width: 940px) {
        //     img {
        //         width: 115%;
        //         margin-left: -25%;
        //     }
        // }
        @media only screen and (min-width: 1024px) {
            img {
                margin-left: -20%;
                width: 140%;
                margin-bottom: -300px;  
            }
        }
        @media only screen and (min-width: 1200px) {
            img {
                margin-left: -20%;
                width: 120%;
                margin-bottom: -300px;  
            }
        }
        @media only screen and (min-width: 1900px) {
            img {
                margin-left: -50%;
                width: 150%;
                margin-bottom: -300px;  
            }
        }
        @media only screen and (min-width: 2500px) {
            img {
                margin-left: -10%;
                width: 120%;
                margin-bottom: -300px;  
            }
        }
    }
}
.updown {
    -webkit-animation: UpDown 5s linear infinite;
    -moz-animation: UpDown 5s linear infinite;
    -o-animation: UpDown 5s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes UpDown {
  
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-0px);
    }
}
.howto {
    display: grid;
    grid-template-rows: repeat(3, 325px);
    font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
    // padding: 10px 0;
    background-color: $color-main;
    color: white;
    text-align: center;
    overflow: hidden;
    
    
    @media only screen and (min-width: 400px) {
        grid-template-rows: repeat(3, 275px);
    }
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 370px;
        padding: 20px 30px;
    }
    @media only screen and (min-width: 850px) {
        grid-template-rows: 320px;
    }
    @media only screen and (min-width: 1024px) {
        grid-template-rows: 384px;
        padding: 20px 120px;   
    }
    @media only screen and (min-width: 1200px) {
        grid-template-rows: 300px;
    }
    @media only screen and (min-width: 2500px) {
        padding: 20px 900px;   
    }

    &__block {
        padding: 0px 30px 0px;
        border-radius: 10px;
        @media only screen and (min-width: 1024px) {
            padding: 30px 30px 50px;   
        }

        &:hover {
            background-color: $color-main-hvr;
            transition: all 0.5s;
            .fa {
                -webkit-animation: UpDown 2s linear infinite;
                -moz-animation: UpDown 2s linear infinite;
                -o-animation: UpDown 2s linear infinite;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                -o-transform: translate3d(0, 0, 0)
            }
        }
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        line-height: 24px;
    }
    .icon {
        font-size: 75px;
    }
}
.head__title {
    margin: 0px auto;
    text-align: center;
    font-family: 'source_sans_proextralight', Arial, Helvetica, sans-serif;
    color: $font-color;
    width: 90%;
    @media screen and (min-width: 768px) {
        margin: 0px auto;
        padding: 0px 0;
        width: 50%;  
    }
    h1 {
        font-size: 40px;
        padding: 20px 0;
        @media screen and (min-width: 768px) {
            font-size: 50px; 
            padding-top: 40px;
        }
    }
    p {
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 20px;
    }
    .line {
        padding-bottom: 20px;

        span {
            margin: 0 auto;
            min-height: 2px;
            height: 100%;
            line-height: 100%;
            width: 60px;
            display: block;
            border-top: 7px solid $color-main;
            height: 2px;
        }
    }
}
.number {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px 0;
    margin: 0 auto;
    padding-left: 30%;

    @media screen and (min-width: 500px){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 130px;
        padding: 100px 50px;
        margin: 0;
    }
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50px;
        padding: 120px 30px;
        margin: 0;
    }
    @media screen and (min-width: 1023px) {
        padding: 100px 150px;
        margin: 0;
    }
    @media screen and (min-width: 2500px) {
        padding: 100px 900px;
    }
    &__item {
        
        text-align: left;
        font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
        @media screen and (min-width: 500px) {
            padding: 0 10px;
            text-align: center;
        }
        &-1 {
            display: inline-block;
            color: $color-main;
            font-size: 30px;
            font-weight: 900;  
        }
        &-text {
            display: block;
            color: $text-color;
            font-size: 18px;
            font-weight: 300;
        }
    }
}   
.tab {
    overflow: hidden;
    position: relative;
    display: grid;

    &-1 {
        grid-template-columns: repeat(4, 1fr);
    }
    .tablinks {
        background-color: inherit;
        outline: none;
        cursor: pointer;
        margin: 0 auto;
        transition: 0.3s;

        &-1 {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            font-size: 17px;
            color: $font-color;
            border: 1px solid $font-color;
        }

        .tab-icon {
            font-size: 24px;
            color: #ff5f9b;
        }
        &:hover {
            background-color: #fff;
            border: 1px solid #fff;

            .tab-icon {
                color: $font-color;
                font-size: 40px;
                transition: 0.5s;
            }
        }
        &:focus {
            background-color: #fff;
            border: 1px solid #fff;
            .tab-icon {
                color: $font-color;
                font-size: 40px;
                transition: 0.5s;
            }
        }
        &:active {
            background-color: #fff;
            border: 1px solid #fff;
            .tab-icon {
                color: $font-color;
                font-size: 40px;
                transition: 0.5s;
            }
        }
    }
}
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;

    &-1 {
        padding: 6px 12px;
    }

    img {
        width: 80%;
    }
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.usage {
    background: url('../img/photo-bg2.jpg') no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    // background-size: cover;
    margin: 0 auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
    padding: 20px 30px;
    @media screen and (min-width: 768px) {
        background: url('../img/photo-bg2.jpg') bottom center no-repeat;
        // background-size: 100%;
        background-attachment: fixed;
        padding: 1px 50px;
    }
    @media screen and (min-width: 1024px) {
        // background: url('../img/photo-bg2.jpg') bottom center no-repeat;
        // background-size: 100%;
        // background-attachment: fixed;
        padding: 1px 50px;
    }
    @media screen and (min-width: 1600px) {
        background-size: 100%;
    }
    &__title {
        font-size: 24px;
        padding-top: 15px;
        text-transform: uppercase;
        @media screen and (min-width: 1024px) {
            padding-top: 70px;
        }
        .colored {
            color: $color-main;
        }
    }
    &__container {
        // padding: 20px 0 50px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        @media screen and (min-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 400px;
        }
        @media screen and (min-width: 800px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 400px;
            padding: 30px 100px; 
        }
        @media screen and (min-width: 1025px) {
            padding: 50px 100px; 
        }
        @media screen and (min-width: 2500px) {
            padding: 50px 850px; 
        }
        &-block {
            padding: 10px 20px;
            z-index: 5;
            // text-align: center;  
            .pic {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                
                img {
                    width: 100%;
                    transition: all 0.2s;
                } 
            }
            h3 {
                text-transform: uppercase;
                text-shadow: 1px 1px 1px black;
                }     

            .line-wrap {
                height: 45px;
                padding-top: 25px;
                transition: all 0.2s;

                .line {
                    min-height: 3px;
                    height: 100%;
                    line-height: 100%;
                    display: block;
                    padding: 0;
                }

                .line span {
                    margin: 0 auto;
                    min-height: 2px;
                    height: 100%;
                    line-height: 100%;
                    width: 60px;
                    display: block;
                    border-top: 7px solid $color-main;
                    height: 2px;
                }
            }
                &:hover .line-wrap {
                    padding-top: 10px;
                } 
                &:hover img{
                    width: 105%;
                } 
            h4, span {
                text-transform: uppercase;
            }
        }
    }
}
.logo {
    text-align: center;
    background-color: $color-main;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;

    @media screen and (min-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 100px;
    }
    // @media screen and (min-width: 767px) {
    //     margin-bottom: 65px;
    // }
    @media screen and (min-width: 800px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px;
        // padding: 30px 150px; 
    }
    @media screen and (min-width: 1023px) {
        padding: 50px 120px; 
    }
    @media screen and (min-width: 2500px) {
        padding: 50px 900px; 
    }
}
.prices {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    
        @media screen and (min-width: 400px) {
            padding: 0px 50px;
        }
        @media screen and (min-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 480px;
            padding: 30px 50px;
        }
        @media screen and (min-width: 768px) {
            // grid-template-columns: repeat(2, 1fr);
            // grid-template-rows: 480px;
            padding: 30px 100px;
        }
        @media screen and (min-width: 1000px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 500px;
            padding: 30px 30px; 
        }
        @media screen and (min-width: 1025px) {
            padding: 0px 70px; 
        }
        @media screen and (min-width: 1225px) {
            padding: 0px 150px 50px; 
        }
        @media screen and (min-width: 2500px) {
            padding: 0px 900px 50px; 
        }
    
    &__block {
        margin: 20px 15px;
        background-color: #eee;
        min-width: 200px;
         
        h2 {
            font: 36px 'source_sans_proextralight', Arial;
            color: $color-main;
            // padding-top: 20px;
            
            margin: 10px;
        }
        h1 {
            font: 54px 'source_sans_prolight', Arial;
            color: $color-main;
            margin: 0;
        }
        span {
            font: 16px 'source_sans_prolight', Arial;
            color: #c2c2c2;
        }
    
        ul {
            font: 600 14px 'source_sans_prolight', Arial;
            list-style: none;
            padding: 0;
        }
        li:nth-child(2n+1) {
            background-color: #f5f5f5;
        }
        li {
            line-height: 30px;
            // font-size: 80%;
            color: $font-color;
        }
        .btn {
            font: 600 18px 'source_sans_proregular', Arial, Helvetica, sans-serif;
            width: 150px;
            height: 50px;
            border: 1px solid $color-main;
            border-radius: 10px;
            background:rgba(255, 255, 255, 0);
            color: $color-main;
            text-transform: uppercase;
            margin: 0px auto 30px;
            cursor: pointer;

            @media only screen and (min-width: 1024px) {
                // margin: 20px 0;
            }

            &:hover {
                background:white;
                color: $color-main;
                border: 1px solid white;
                transition: all 0.5s ease-in-out;
            }
        }
        &:hover {
            background-color: $color-main;
            transition: 0.5s ease-in-out;
       
            h2,h1,span,li {
                color: #fff;
                transition: 0.5s ease-in-out;
            }
            li:nth-child(2n+1) {
                background-color: $color-main;
                transition: 0.5s ease-in-out;
            }
            .btn {  
                border: 1px solid #fff;
                color: #fff;
                transition: 0.5s ease-in-out;
                &:hover {
                    color: $color-main;
                    background-color: #fff;
                }
            }
        }
    }
}
.advantage {
    background: url('../img/photo-bg3.jpg') bottom center no-repeat;
    // background-attachment: fixed;
    height: 600px;
    color: #fff;
    font-family: 'source_sans_proregular', Arial, Helvetica, sans-serif;
    padding-bottom: 125px;
    @media screen and (min-width: 768px) {
        background-attachment: fixed;
    }
    @media only screen and (min-width: 1023px) {
        height: 670px;
    }
    @media only screen and (min-width: 1600px) {
        background-size: 100%;
    }

    #phone5 {
        display: block;
    }
    .tab {

        &-2 {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            padding-top: 50px;
        
            @media only screen and (min-width: 650px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 50px;
                padding: 50px 30px 20px;
            }
            @media only screen and (min-width: 1025px) {
                padding: 50px 270px 20px;
            }
            .tablinks {
                &-2 {
                    background: inherit;
                    width: 200px;
                    height: 48px;
                    font-size: 20px;
                    text-transform: uppercase;
                    color: #fff;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    outline: none;
                    cursor: pointer;
                    transition: 0.5s;                     
                }
                &:hover {
                    background-color: #fff;
                    color: $font-color;
                }
                
                &:focus {
                    background-color: #fff;
                    color: $font-color;
                }
                // &:active {
                //     background-color: #fff;
                //     color: #4d5762;
                // } 
            }
            .active {
                background-color: #fff;
                color: $font-color;
            }
        }
        
    }
    .tabcontent {
        &-2 {
            padding: 20px 20px 6px;
            text-align: center;
            // width: 80%;
            // position: relative;
            @media only screen and (min-width: 1024px) {
                padding: 20px 120px 6px;
            }
        }
        h1 {
            font: 30px 'source_sans_prolight', Arial;
            
            @media only screen and (min-width: 600px) {
                font-size: 40px;
            }
            @media only screen and (min-width: 769px) {
                font-size: 50px;
            }
            @media only screen and (min-width: 1025px) {
                font-size: 60px;
                margin-top: 0;
            }
        }
        p {
            font: 18px 'source_sans_prolight', Arial;
            max-width: 400px;
            margin: 0 auto;
            @media only screen and (min-width: 768px) {
                max-width: 650px;
                font-size: 24px;
            }
            @media only screen and (min-width: 1025px) {
                max-width: 900px;
                font-size: 24px;
            }
        }
    
        img {
            width: 95%;
            padding-top: 30px;
            margin-bottom: -100px;
            // position: absolute;
            // top: 600px;

            @media only screen and (min-width: 600px) {
                padding-top: 50px;
                width: 75%;
            }
            @media only screen and (min-width: 800px) {
                width: 50%;
            }
            @media only screen and (min-width: 1023px) {
                padding-top: 40px;
                width: 80%;
            }
            @media only screen and (min-width: 1200px) {
                width: 50%;
            }
            @media only screen and (min-width: 1210px) {
                width: 650px;
            }
        }
        .slide-2 {
            @media only screen and (min-width: 600px) {
                width: 55%;
            }
            @media only screen and (min-width: 800px) {
                padding-top: 40px;
                width: 45%;
            }
            @media only screen and (min-width: 1023px) {
                width: 60%;
            }
            @media only screen and (min-width: 1200px) {
                width: 40%;
            }
            @media only screen and (min-width: 1210px) {
                width: 500px;
            }
        }
        .slide-3 {
            width: 100%;
            padding-top: 70px;

            @media only screen and (min-width: 600px) {
                width: 80%;
                padding-top: 40px;
            }
            @media only screen and (min-width: 800px) {
                width: 50%;
            }
            @media only screen and (min-width: 1023px) {
                width: 90%;
            }
            @media only screen and (min-width: 1200px) {
                width: 60%;
            }
            @media only screen and (min-width: 1210px) {
                width: 800px;
            }
        }
    }
}
// .head__title-top {
//     padding-top: 50px;

//     @media only screen and (min-width: 768px) {
//         padding-top: 65px;
//     }
//     @media only screen and (min-width: 1024px) {
//         padding-top: 70px;
//     }
//     @media only screen and (min-width: 1200px) {
//         padding-top: 70px;
//     }
// }
.screenshots {
    position: relative;
    max-width: 100%;
    @media only screen and (min-width: 1200px) {
        padding-bottom: 50px;
    }

    #slider {
        margin: 0px auto;
        padding: 40px 0;
        width: 272px;
        height: 533px;
        overflow: hidden;

        @media only screen and (min-width: 768px) {
            width: 545px;
        }
        @media only screen and (min-width: 1000px) {
            width: 812px;
        }
        
    }
    #slider-content {
        display: flex;
        width: 2700px;
        position: relative;
        left: 0;
        transition: 1s;
        
    }
    #slider-content img {
        padding: 0 10px;

        // @media only screen and (min-width: 320px) {
        //     overflow: hidden;
        // }
    }
    #slider-left {
        position: absolute;
        font-size: 40px;
        top: 46%;
        left: 5%;
        cursor: pointer;
        display: block;
        color: $font-color;
        @media only screen and (min-width: 768px) {
            left: 10%;
        }
        @media only screen and (min-width: 1600px) {
            left: 20%;
        }
        &:hover {
            color: $arrow-hvr;
        }
    }
    #slider-right {
        position: absolute;
        font-size: 40px;
        top: 46%;
        right: 5%;
        cursor: pointer;
        display: block;
        color: $font-color;
        @media only screen and (min-width: 768px) {
            right: 10%;
        }
        @media only screen and (min-width: 1600px) {
            right: 20%;
        }
        &:hover {
            color: $arrow-hvr;
        }
    }
}
.review {
    background-color: #eee;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    text-align: left;
    color: $font-color;
    font: 20px 'source_sans_prolight', Arial, Helvetica, sans-serif;
    overflow: hidden;

    &__container {
        display: grid;
        grid-template-rows: repeat(3, 310px);
        // padding: 0 20px;
        @media only screen and (min-width: 400px) {
            grid-template-rows: repeat(3, 320px);
        }
        @media only screen and (min-width: 500px) {
            grid-template-rows: repeat(3, 310px);
        }
        @media only screen and (min-width: 600px) {
            grid-template-rows: repeat(3, 280px);
        }
        @media only screen and (min-width: 700px) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 430px;
            padding: 0 30px;
        }
        @media only screen and (min-width: 900px) {
            grid-template-rows: 370px;
            padding: 0 100px;
        }
        @media only screen and (min-width: 1023px) {
            grid-template-rows: 360px;
            padding: 0 150px;
        }
        @media only screen and (min-width: 1200px) {
            grid-template-rows: 360px;
            padding: 0 200px;
        }
        @media only screen and (min-width: 2500px) {
            grid-template-rows: 360px;
            padding: 0 900px;
        }
        .pic__rewiev {
            height: 50px;
            width: 150px;
            text-align: left;
            margin: 0;
        }
        .pic__rewiev-tc {
                width: 75px;
        }
        .line-wrap__rewiev {
            padding-top: 18px;

            .line span{
                margin: 0;
            }
        }
        .rewiev-block {
            // margin: 10px;
            border-radius: 10px;
            padding-top: 10px;
            @media only screen and (min-width: 450px) {
                padding-top: 30px;
            }
            
            &:hover {
                background-color: #cdced2;
                transition: 0.5s;
            }
            p {
                height: 60px;

                @media only screen and (min-width: 450px) {
                    height: 40px;
                }
                @media only screen and (min-width: 700px) {
                    height: 160px;
                }
                @media only screen and (min-width: 900px) {
                    height: 100px;
                }
                @media only screen and (min-width: 1024px) {
                    height: 120px;
                }
                @media only screen and (min-width: 1100px) {
                    height: 90px;
                }

            }
            .rating {
                p {
                    display: inline-block;
                    margin-top: 50px;
                    margin-bottom: 0;

                    @media only screen and (min-width: 600px) {
                        margin-top: 0px;
                    }
                    @media only screen and (min-width: 700px) {
                        margin-top: 30px;
                    }
                }
                span {
                    font: 26px 'source_sans_probold', Arial, Helvetica, sans-serif;
                }
            }
        }   
    }
}
.newsletter-wrap {
    background: url(../img/newsletter-bg.png) $font-color top left repeat-x;
    text-align: center;

    .newsletter {
        font-size: 16px;
        padding: 50px 30px;
        margin: 0 auto;
        text-align: center;
        color: white;
        text-transform: uppercase;

        h3 {
            font-size: 18px;
        }

        input {
            // display: block;
            background: transparent;
            padding: 10px;
            margin: 10px 0;
            width: 100%;
            border: 1px solid white;
            color: white;
            outline: none;

            @media only screen and (min-width: 600px) {
                width: 250px;
                margin: 10px 10px;
            }
        }
        input[type="email"]::-webkit-input-placeholder {
            color: #fff;
        }
        input[type="submit"] {
            width: 150px;
            text-transform: uppercase;
            color: white;
            cursor: pointer;
            font: 14px 'source_sans_probold', Arial, Helvetica, sans-serif;

            &:hover {
                background-color: #fff;
                color: $color-main;
                transition: all 0.5s;
            }
        }
    }
}
.blog {
    margin: 0 auto;
    text-align: center;
    color: $font-color;
    overflow: hidden;

    @media screen and (min-width: 768px) { 
        text-align: left;
    }
    &__container {
        display: grid;
        grid-template-rows: repeat(4, 460px);

        @media screen and (min-width: 400px) {
            grid-template-rows: repeat(4, 435px);
        }
        @media screen and (min-width: 550px) {
            grid-template-rows: repeat(4, 400px);
        }
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 430px;
        }
        @media screen and (min-width: 800px) {
            padding: 30px 70px; 
        }
        @media screen and (min-width: 925px) {
            padding: 30px 90px;
        }
        @media screen and (min-width: 1023px) {
            padding: 65px 100px; 
        }
        @media screen and (min-width: 1100px) {
            padding: 30px 200px;
        }
        @media screen and (min-width: 2500px) {
            padding: 30px 900px;
        }

        &-block {
            padding: 30px 15px;
            text-align: justify;

            @media screen and (min-width: 400px) {
                padding: 30px 30px;
            }
            // @media screen and (min-width: 550px) {
            //     padding: 30px 100px;
            // }
            // @media screen and (min-width: 768px) {
            //     padding: 30px 50px;
            // }
            // @media screen and (min-width: 1024px) {
            //     padding: 30px 30px;
            // }
            
            .pic {
                width: 280px;
                height: 130px;
                @media screen and (min-width: 768px) {
                    margin: 0;
                }
                @media screen and (min-width: 768px) {
                    width: 320px;
                }
                
            }
            .line-wrap {
                .line {
                    span {
                        @media screen and (min-width: 768px) {
                            margin: 0;
                        }
                    } 
                }
            }
            h2 {
                font: 26px 'source_sans_probold', Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            p {
                font-size: 14px;
                line-height: 1.5;
            }

            &:hover .line-wrap {
                padding-top: 25px;
            } 
            &:hover img{
                width: 100%;
                text-align: left;
            } 
        }
    }
}
.download {
    background: url('../img/photo-bg4.jpg') bottom center no-repeat;
    padding: 0px 10px 10px;
    // margin-top: 30px;
    z-index: 1;
    @media screen and (min-width: 1024px) {
        background-size: 100%;
    }
    p {
        color: #fff;
        font: 20px 'source_sans_prolight', Arial, Helvetica, sans-serif;
        @media screen and (min-width: 768px) {
            font-size: 30px;
        }
    }
    .head__title-top {
        background: transparent;
        margin-top: 0px;
        margin-bottom: 10px;
        padding-top: 20px;
        @media screen and (min-width: 768px) {
            padding-top: 50px;
        }
    }
    // .btn {
    //     font: 600 24px 'source_sans_proregular', Arial, Helvetica, sans-serif;
    //     width: 220px;
    //     height: 60px;
    //     border: 1px solid white;
    //     border-radius: 10px;
    //     background:rgba(255, 255, 255, 0);
    //     color: white;
    //     text-transform: uppercase;
    //     margin: 20px auto;

    //     @media screen and (min-width: 400px) {
    //         width: 300px;
    //         height: 80px;
    //         font-size: 30px;
    //     }

    //     &:hover {
    //         background:white;
    //         color: #f65d9b;
    //         border: 1px solid white;
    //         transition: all 0.5s ease-in-out;
    //     }
    // }
    
    .container1 {
        width: 220px;
        margin: 50px auto;
    
    .btn1 {
		position: relative;
		letter-spacing: 0.15em;
		margin: 0 auto;
		padding: 10px;
		background: transparent;
		outline: none;
		font: 28px 'source_sans_probold', Arial;
        color: #e2a856;
        text-transform: uppercase;
        transition: all 0.5s $cubic-bezier 0.15s;
        z-index: 20;
        cursor: pointer;

		&::after,
		&::before {
			content: "";
			position: absolute;
			height: 40%;
			width: 10%;
			transition: all 0.5s $cubic-bezier;
			z-index: -2;
			border-radius: 50%;
			//animation: grow 1s infinite;
		}
		&::before {
			background-color: $color-main-hvr;
			top: -15px;
			left: -20px;
			animation: top 2s $cubic-bezier 0.25s infinite alternate;
		}
		&::after {
			background-color: $color-main;
			top: 40px;
			left: 180px;
			animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
		}
		&:hover {
            color: white;
            z-index: 100;
            border-radius: 50%;

			&::before,
			&::after {
				top: 0;
				//transform: skewx(-10deg);
				height: 100%;
				width: 100%;
				border-radius: 0;
				animation: none;
			}
			&::after {
				left: 0rem;
			}
			&::before {
				top: 0.5rem;
				left: 0.35rem;
			}
		}
	}
    }
    @keyframes top {
	    from {
		    transform: translate(0rem, 0);
	    }
	    to {
		    transform: translate(0rem, 3.5rem);
	    }
    }
    @keyframes bottom {
	    from {
		    transform: translate(-11.5rem, 0);
	    }
	    to {
		    transform: translate(0rem, 0);
	    }
    }
}

.footer {
    bottom: 0;
    margin: 0;
    padding: 20px 0px 0px 0px;
    width: 100%;
    color: #fff;
    display: grid;
    grid-template-rows: 450px 350px;

    @media screen and (min-width: 500px) {
        padding: 50px 0px 0;
    }
    @media screen and (min-width: 768px) {
        grid-template-rows: 460px;
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1024px) {
        padding: 50px 150px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 50px 200px 40px;
    }
    &__faq {
        padding: 10px 15px;
        @media screen and (min-width: 400px) {
            padding: 10px 30px;
        }
        h1 {
            text-align: center;
            text-transform: uppercase;
        }
        #accordion {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            @media only screen and (min-width: 768px) {
                max-width: 500px;
            }
            @media only screen and (min-width: 1023px) {
                padding-left: 0px;
            }
        }
        .accordion {
            &-title {
                font: 20px 'source_sans_prolight', Arial, Helvetica, sans-serif;
                cursor: pointer;
                transition: 0.8s;

                h5 {
                    display: inline-block;
                    font-weight: 100;
                
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            &-content {
                padding: 0px;
                margin: 0 20px;
                overflow: hidden;
                max-height: 0;
                color: white;
                font: 14px 'source_sans_prolight', Arial, Helvetica, sans-serif;

                p {
                margin: 0;
                }
            }
        }
        .accordion-title.active + .accordion-content {
            transition: all 2s ease-out;
            max-height: 200px; 
        } 
    }
    &__form {
        padding: 10px 15px;
        @media screen and (min-width: 400px) {
            padding: 10px 30px;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
        }
        form {
            @media only screen and (min-width: 768px) {
                margin-top: 50px;
                // padding-right: 50px;
            }
            @media only screen and (min-width: 1023px) {
                padding-right: 0px;
            }
        }
        input,
        textarea {
            display: block;
            background: transparent;
            padding: 10px;
            margin: 10px auto;
            width: 100%;
            max-width: 500px;
            border: 1px solid white;
            color: white;
            outline: none;
            @media only screen and (min-width: 768px) {
                margin: 24px auto;
            }
        }
        textarea {
            resize: none;
        }
        input[type="text"]::-webkit-input-placeholder,
        input[type="email"]::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder {
            color: #fff;
        }
        input[type="submit"]{
            width: 150px;
            text-transform: uppercase;
            color: white;
            font: 12px 'source_sans_probold', Arial, Helvetica, sans-serif;

            &:hover {
                background-color: #fff;
                color: $color-main;
                transition: all 0.5s;
            }
        }
    }
}
.colored-bg {
    background-color: $color-main;
}
.social {
    text-align: center;
    padding: 20px 10px;

    @media only screen and (min-width: 500px) {
        font-size: 28px;
    }
    &__item {
        margin: 0px auto;
        display: flex;
        max-width: 500px;

        a {
            color: #fff;
            text-decoration: underline;
            margin: 0px 15px 0px 15px;
            border-radius: 50%;
            overflow: hidden;

            &:hover {
                background-color: #fff;
                transition: 0.8s;
            }
            &:hover i { 
                color: $color-main;
                transition: 0.8s;
            }
        }
        .icon {
            text-align: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            display: block;
            color: #fff;
            box-shadow: 0 0 0 0px rgba(255,255,255,1);
            overflow: hidden;
            margin: 0 auto;

            @media only screen and (min-width: 500px) {
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
            i {
                color: #fff;
            }
            .fa {
                line-height: 43px;
                @media only screen and (min-width: 500px) {
                    line-height: 50px;
                }
            }
        }
    }
    p {
        color: $font-color;
        font-size: 14px;
        opacity: 0.5;
    }
}
#go-top {
    position: fixed; 
    bottom: 25px; 
    right: 30px;
    text-align: center;
    cursor: pointer; 
    display: none;
    line-height: 30px;
    font-size: 40px;
    color: $font-color;
    z-index: 1000;

    &:hover {
        color: $arrow-hvr;
    }
}


